// Using kelistrap colors and sizes hardcoded waiting for the kelistrap to be included across all projects.

.cookies-eu {
  background: #EEF2F8;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.10);
  color: #49596D;
  font-size: 12px;
  position: relative;
  text-align: center;
  @include tablet-landscape-and-up {
    font-size: 14px;
  }

  .cookies-eu-content-holder {
    padding: 1rem 2rem;
  }
  a.cookies-eu-ok {
    color: #3BA8EC;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
  }
}