.cookies-eu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #e2e2e2;
  border-top: 1px solid #317DC6;
  color: #1d1d1d;
  text-align: center;
  font-size: 10pt;

  .cookies-eu-content-holder {
    display: inline-block;
    padding: .8em 2em;
    a {
      color: #31a8f0;
      text-decoration: none;
    }
  }
  .cookies-eu-button-holder {
    display: inline-block;
    padding-right: 20px;

    .cookies-eu-ok {
      background: #317DC6;
      border: 1px solid #3079ed;
      border-radius: 2px;
      color: #fff;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      min-width: 26px;
      outline: 0;
      padding: .2em 1.8em;
      text-align: center;
      white-space: nowrap;
      margin: .6em;
      cursor: pointer;
    }
  }
}