<div class="cookies-eu" data-position="fixed" style="display:none;">
  <div class="cookies-eu-content-holder"><%= t('cookies_eu.cookies_text') %>
    <% if defined?(link).present? %>
      <a href="<%= link %>" class="cookies-eu-link"> <%= t('cookies_eu.learn_more') %> </a>
    <% end %>
  </div>
  <a class="cookies-eu-ok">
    <i class="fa fa-close"></i>
  </a>
</div>